<ts-navbar></ts-navbar>

<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Garden Planner
      </h1>
    </div>
  </div>
</section>
<br />

<div class="container">
  <div class="columns">
    <div class="column">
      <div id="new-job">
        <button class="button is-info modal-button" data-target="modal-job" (click)="openModal('addJob')">
          <span class="icon">
            <i class="fa fa-leaf"></i>
          </span>
          <span>Add Job</span>
        </button>
      </div>

      <div class="card">
        <header class="card-header current" id="current">
          <p class="card-header-title">
            Jobs to do right now
          </p>
        </header>

        <div class="card-content">
          <ng-container *ngFor="let job of getDueNow()">
              <div class="notification garden-job" [job]="job" (onRemoved)="onRemoved($event)"></div>
          </ng-container>
        </div>
      </div>

      <div class="card">
        <header class="card-header soon" id="soon">
          <p class="card-header-title">
            Jobs in the next few weeks
          </p>
        </header>

        <div class="card-content">
          <ng-container *ngFor="let job of getDueSoon()">
            <div class="notification garden-job" [job]="job" (onRemoved)="onRemoved($event)"></div>
        </ng-container>
        </div>
      </div>

      <div class="card">
        <header class="card-header later" id="later">
          <p class="card-header-title">
            Future jobs
          </p>
        </header>

        <div class="card-content">
          <ng-container *ngFor="let job of getDueLater()">
            <div class="notification garden-job" [job]="job" (onRemoved)="onRemoved($event)"></div>
          </ng-container>
        </div>
      </div>

    </div>

    <div class="column is-one-quarter">
      <ul class="link-list">
        <li>
          <a href="#new-job">New job</a>
        </li>
        <li>
          <a href="#current">Right now</a>
        </li>
        <li>
          <a href="#soon">Next few weeks</a>
        </li>
        <li>
          <a href="#later">Future jobs</a>
        </li>
      </ul>
    </div>

    <div class="modal" [class.is-active]="isVisible('addJob')" id="modal-job">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Add a job</p>
          <!-- <button class="delete" aria-label="close"></button> -->
        </header>
        <section class="modal-card-body">
          <!-- Content ... -->
          <div class="field">
            <label class="label" for="job-name" type="text">
              What:
            </label>
            <div class="control">
              <input class="input" type="text" id="job-name">
            </div>
          </div>

          <div class="field">
            <label class="label" type="text">
              When:
            </label>

            <div class="columns">
              <div class="column">
                <div class="control">
                  <p>
                    <label class="radio">
                      <input type="radio" name="answer"> Month range
                    </label>
                  </p>
                  <p>
                    <label class="radio">
                      <input type="radio" name="answer"> Day range
                    </label>
                  </p>
                </div>
              </div>

              <div class="column">
                <div class="field">
                  <input class="is-checkbox is-block is-info" id="chkLoc1" type="checkbox" name="chkLoc1">
                  <label for="chMonthJan">January</label>
                </div>

                <div class="field">
                  <input class="is-checkbox is-block is-info" id="chkLoc1" type="checkbox" name="chkLoc1">
                  <label for="chkMonthFeb">February</label>
                </div>

                <div class="field">
                  <input class="is-checkbox is-block is-info" id="chkLoc1" type="checkbox" name="chkLoc1">
                  <label for="chkMonthMarch">March</label>
                </div>

                <div class="field">
                  <input class="is-checkbox is-block is-info" id="chkLoc1" type="checkbox" name="chkLoc1">
                  <label for="chkMonthApril">April</label>
                </div>
              </div>

              <div class="column">
                <div class="field">
                  <input class="is-checkbox is-block is-info" id="chkLoc1" type="checkbox" name="chkLoc1">
                  <label for="chMonthMay">May</label>
                </div>

                <div class="field">
                  <input class="is-checkbox is-block is-info" id="chkLoc1" type="checkbox" name="chkLoc1">
                  <label for="chkMonthJune">June</label>
                </div>

                <div class="field">
                  <input class="is-checkbox is-block is-info" id="chkLoc1" type="checkbox" name="chkLoc1">
                  <label for="chkMonthJuly">July</label>
                </div>

                <div class="field">
                  <input class="is-checkbox is-block is-info" id="chkLoc1" type="checkbox" name="chkLoc1">
                  <label for="chkMonthAug">August</label>
                </div>
              </div>

              <div class="column">
                <div class="field">
                  <input class="is-checkbox is-block is-info" id="chkLoc1" type="checkbox" name="chkLoc1">
                  <label for="chkMonthSept">September</label>
                </div>

                <div class="field">
                  <input class="is-checkbox is-block is-info" id="chkLoc1" type="checkbox" name="chkLoc1">
                  <label for="chkMonthOct">October</label>
                </div>

                <div class="field">
                  <input class="is-checkbox is-block is-info" id="chkLoc1" type="checkbox" name="chkLoc1">
                  <label for="chkMonthNov">November</label>
                </div>

                <div class="field">
                  <input class="is-checkbox is-block is-info" id="chkLoc1" type="checkbox" name="chkLoc1">
                  <label for="chkMonthDec">December</label>
                </div>
              </div>
            </div>
          </div>

          <div class="location-list">
            <label class="label" type="text">
              Where:
            </label>

            <div class="columns">
              <div class="column">               
                <div class="field" *ngFor="let border of borders | mod3:1">
                  <input class="is-checkbox is-block is-info" id="chkBorder{{border.id}}" type="checkbox" name="chkBorder{{border.id}}">
                  <label for="chkBorder{{border.id}}">{{border.name}}</label>
                </div>
              </div>

              <div class="column">
                <div class="field" *ngFor="let border of borders | mod3:2">
                  <input class="is-checkbox is-block is-info" id="chkBorder{{border.id}}" type="checkbox" name="chkBorder{{border.id}}">
                  <label for="chkBorder{{border.id}}">{{border.name}}</label>
                </div>
              </div>

              <div class="column">
                <div class="field" *ngFor="let border of borders | mod3:0">
                  <input class="is-checkbox is-block is-info" id="chkBorder{{border.id}}" type="checkbox" name="chkBorder{{border.id}}">
                  <label for="chkBorder{{border.id}}">{{border.name}}</label>
                </div>
                </div>
            </div>
          </div>

          <div class="field">
            <label class="label" for="job-name" type="text">
              How:
            </label>

            <div class="control">
              <textarea class="textarea" type="text" rows="2" placeholder="optional"></textarea>
            </div>
          </div>
        </section>
        <footer class="modal-card-foot">
          <button class="button is-success">Add</button>
          <button class="button" (click)="closeModal()">Cancel</button>
        </footer>
      </div>
    </div>
  </div>
</div>