
.primary-light { background-color: #76B566; }
.primary-color { background-color: #4CAF50; } 
.primary-dark { background-color: #54965B; }
.secondary-color { background-color: #9E854D; }
.secondary-dark { background-color: #555645; }