<ts-navbar></ts-navbar>

<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Plants and borders
      </h1>
    </div>
  </div>
</section>
<br />

<div class="container">
  <table class="table is-striped is-fullwidth">
    <thead>
      <tr>
        <th>Plant</th>
        <th>Locations</th>
        <th>Notes</th>
        <th>Jobs</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <ng-container *ngFor="let plant of plants">
        <tr *ngIf="plant.id !== selectedId" class="plant-display-row" [plant]="plant" (onSelected)="onSelected($event)" (onDeleted)="onDeleted($event)"></tr>
        <tr *ngIf="plant.id === selectedId" class="plant-edit-row" [plant]="plant" (onCancelled)="onCancelled($event)" (onSaved)="onSaved($event)"
          (onAddPlantToBorder)="onAddPlantToBorder()"></tr>
      </ng-container>
    </tbody>
  </table>

  <p *ngIf="plants.length === 0" class="notification is-info">
    You haven't added any plants yet. Use the Add Plant button to get started.
  </p>

  <button class="button is-info" (click)="addPlant()">
    <span class="icon">
      <i class="fa fa-leaf"></i>
    </span>
    <span>Add Plant</span>
  </button>

  <button class="button is-info modal-button" data-target="modal-location" (click)="openModal('border')">
    <span class="icon">
      <i class="fa fa-plus"></i>
    </span>
    <span>Add Location</span>
  </button>

  <div class="modal" [class.is-active]="isVisible('border')" id="modal-location">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Add a new location (ie: bed, border, etc.)</p>
      </header>
      <section class="modal-card-body">
        <!-- Content ... -->
        <div class="field">
          <label class="label" for="new-location" type="text">
            Location Name:
          </label>
          <div class="control">
            <input class="input" type="text" id="new-location" #location>
          </div>
        </div>
        <label *ngIf="duplicateName" class="has-text-danger">There is already another location with the name {{duplicateName}}.</label>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" (click)="addBorder(location.value); location.value='';">Add</button>
        <button class="button" (click)="closeWindow(); location.value='';">Cancel</button>
      </footer>
    </div>
  </div>

  <div class="modal" [class.is-active]="isVisible('addBorder')" id="modal-add-location">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Select a location</p>
      </header>
      <section class="modal-card-body">
        <!-- Content ... -->
        <div class="select">
          <select>            
            <option *ngFor="let border of borders" [value]="border">{{border.name}}</option>
          </select>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" (click)="addBorderToPlant();">Add</button>
        <button class="button" (click)="closeWindow();">Cancel</button>
      </footer>
    </div>
  </div>
</div>