<td>
  <input [(ngModel)]="plant.name" class="input is-danger" type="text" placeholder="Plant name (required)" required>
</td>

<td>
  <span class="tag is-primary">Main border</span> 
  <span class="icon has-text-primary clickable"><i class="fa fa-plus"></i></span>
</td>

<td>
  <input [(ngModel)]="plant.notes" class="input" type="text">
</td>

<td>
  <a>Prune</a>
</td>

<td>
  <span class="icon has-text-primary" (click)="save(plant)">
    <i class="fa fa-check clickable"></i>
  </span> 
  
  <span class="icon has-text-info" (click)="cancelEdit()">
    <i class="fa fa-close clickable"></i>
  </span>
</td>