/* Coolors Exported Palette - coolors.co/8b9474-8bbd8b-4caf50-c1cc99-f5a65b */

/* HSL */
$color1: hsla(77%, 13%, 52%, 1);
$color2: hsla(120%, 27%, 64%, 1);
$color3: hsla(122%, 39%, 49%, 1);
$color4: hsla(73%, 33%, 70%, 1);
$color5: hsla(29%, 89%, 66%, 1);

/* RGB */
$color1: rgba(139, 148, 116, 1);
$color2: rgba(139, 189, 139, 1);        // ++
$color3: rgba(76, 175, 80, 1);          // +
$color4: rgba(193, 204, 153, 1);
$color5: rgba(245, 166, 91, 1);