<td>
  <input [(ngModel)]="plant.name" class="input" [class.is-danger]="plant.name.length == 0" type="text" placeholder="Plant name (required)" required>
</td>

<td>
  <span *ngFor="let border of plant.locations" class="tag is-primary">{{border.name}}</span>
  <span class="icon has-text-primary clickable" (click)="addPlantToBorder(plant.Id)"><i class="fa fa-plus"></i></span>
</td>

<td>
  <input [(ngModel)]="plant.notes" class="input" type="text">
</td>

<td>
  <a>Edit Row</a>
</td>

<td>
  <span class="icon has-text-primary" (click)="save(plant)">
    <i class="fa fa-check clickable"></i>
  </span> 
  
  <span class="icon has-text-info" (click)="cancelEdit()">
    <i class="fa fa-close clickable"></i>
  </span>
</td>