<ts-navbar></ts-navbar>

<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Garden Planner
      </h1>
    </div>
  </div>
</section>
<br />

<div class="container">
  <div class="columns">
    <div class="column">
      <div id="new-job">
        <button class="button is-info modal-button" data-target="modal-job" (click)="openModal('addJob')">
          <span class="icon">
            <i class="fa fa-leaf"></i>
          </span>
          <span>Add Job</span>
        </button>
      </div>

      <div class="card">
        <header class="card-header current" id="current">
          <p class="card-header-title">
            Jobs to do right now
          </p>
        </header>

        <div class="card-content">
          <ng-container *ngFor="let job of getDueNow()">
            <div class="notification garden-job" [job]="job" (onRemoved)="onRemoved($event)"></div>
          </ng-container>
        </div>
      </div>

      <div class="card">
        <header class="card-header soon" id="soon">
          <p class="card-header-title">
            Jobs in the next few weeks
          </p>
        </header>

        <div class="card-content">
          <ng-container *ngFor="let job of getDueSoon()">
            <div class="notification garden-job" [job]="job" (onRemoved)="onRemoved($event)"></div>
          </ng-container>
        </div>
      </div>

      <div class="card">
        <header class="card-header later" id="later">
          <p class="card-header-title">
            Future jobs
          </p>
        </header>

        <div class="card-content">
          <ng-container *ngFor="let job of getDueLater()">
            <div class="notification garden-job" [job]="job" (onRemoved)="onRemoved($event)"></div>
          </ng-container>
        </div>
      </div>

    </div>

    <div class="column is-one-quarter">
      <ul class="link-list">
        <li>
          <span class="tag is-info modal-button" data-target="modal-job" (click)="openModal('addJob')">
            <span class="icon">
              <i class="fa fa-leaf"></i>
            </span>
            Add job
          </span>
        </li>
        <li>
          <span class="tag is-info" (click)="onAnchorClick('current')">
            <span class="icon">
              <i class="fa fa-angle-double-left"></i>
            </span>
            Right now
          </span>          
        </li>
        <li>
          <span class="tag is-info" (click)="onAnchorClick('soon')">
            <span class="icon">
              <i class="fa fa-angle-double-left"></i>
            </span>
            Next few weeks
          </span>
        </li>
        <li>
          <span class="tag is-info" (click)="onAnchorClick('later')">
            <span class="icon">
              <i class="fa fa-angle-double-left"></i>
            </span>
            Future jobs
          </span>
        </li>
      </ul>
    </div>

    <!-- Modal: Confirm Job deletion -->
    <div class="modal" [class.is-active]="isVisible('deleteJob')" id="modal-delete">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Delete job</p>
        </header>
        <section class="modal-card-body">
          <div class="field">
            Confirm that you want to delete this job.
          </div>
        </section>
        <footer class="modal-card-foot">
          <button class="button is-success">1</button>
          <button class="button">2</button>
        </footer>
      </div>
    </div>

    <!-- Modal: Add a new job -->
    <div class="modal" [class.is-active]="isVisible('addJob')" id="modal-job">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Add a job</p>
          <!-- <button class="delete" aria-label="close"></button> -->
        </header>
        <section class="modal-card-body">
          <!-- Content ... -->
          <div class="field">
            <label class="label" for="job-name" type="text">
              What:
            </label>
            <div class="control">
              <input class="input" type="text" id="job-name">
            </div>
          </div>

          <div class="field">
            <label class="label" type="text">
              When:
            </label>

            <div class="columns">
              <div class="column is-one-third">
                <div class="control">
                  <p>
                    <label class="radio">
                      <input type="radio" name="rangeType" checked (click)="showMonth = true;$event.stopPropagation()"> Month range
                    </label>
                  </p>
                  <p>
                    <label class="radio">
                      <input type="radio" name="rangeType" (click)="showMonth = false;$event.stopPropagation()"> Date range
                    </label>
                  </p>
                </div>
              </div>

              <div class="column">
                <div id="monthRange" [hidden]="!showMonth">
                  From:
                  <div class="select">
                    <select>
                      <option *ngFor="let startingMonth of months" [value]="startingMonth">{{startingMonth[1]}}</option>
                    </select>
                  </div>

                  To:
                  <div class="select">
                    <select>
                      <option *ngFor="let endingMonth of months" [value]="endingMonth">{{endingMonth[1]}}</option>
                    </select>
                  </div>
                </div>

                <div id="dateRange" [hidden]="showMonth">
                  From: To:

                </div>
              </div>
            </div>
          </div>

          <div class="location-list">
            <label class="label" type="text">
              Where:
            </label>

            <div class="columns">
              <div class="column">
                <div class="field" *ngFor="let border of borders | mod3:1">
                  <input class="is-checkbox is-block is-info" id="chkBorder{{border.id}}" type="checkbox" name="chkBorder{{border.id}}">
                  <label for="chkBorder{{border.id}}">{{border.name}}</label>
                </div>
              </div>

              <div class="column">
                <div class="field" *ngFor="let border of borders | mod3:2">
                  <input class="is-checkbox is-block is-info" id="chkBorder{{border.id}}" type="checkbox" name="chkBorder{{border.id}}">
                  <label for="chkBorder{{border.id}}">{{border.name}}</label>
                </div>
              </div>

              <div class="column">
                <div class="field" *ngFor="let border of borders | mod3:0">
                  <input class="is-checkbox is-block is-info" id="chkBorder{{border.id}}" type="checkbox" name="chkBorder{{border.id}}">
                  <label for="chkBorder{{border.id}}">{{border.name}}</label>
                </div>
              </div>
            </div>
          </div>

          <div class="field">
            <label class="label" for="job-name" type="text">
              How:
            </label>

            <div class="control">
              <textarea class="textarea" type="text" rows="2" placeholder="optional"></textarea>
            </div>
          </div>
        </section>
        <footer class="modal-card-foot">
          <button class="button is-success" (click)="addJob()">Add</button>
          <button class="button" (click)="closeModal()">Cancel</button>
        </footer>
      </div>
    </div>

  </div>
</div>